@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-midnight-50: #171717;
  --color-midnight-100: #0F0F0F;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}